<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{ welcome }}
    <form action="/user/register/" method="POST">
        {% csrf_token %}
        Name
        <input type="text" name="name" required>
        <br>
        <br>
        Email
        <input type="email" name="email" required >
        <br>
        <br>
        Password
        <input type="text" name="password" required>
        <br><br>
        <button type="submit">Register</button>
    </form>
</body>
</html>