<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="create">
      <form action="/task/crud/" method="POST">
        {% csrf_token %}
        <br /><br />
        Task Name<input type="text" name="task_name" id="" />
        <br /><br />
        Task Description<input type="text" name="task_description" id="" />
        <br /><br />
        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="view">
      {% for each in data %}
        <hr />
        <br />
        {{ each.title }}
        <br />
        {{ each.description }}
        <br />
        {{ each.created_at }}
      {% endfor %}
    </div>
  </body>
</html>
